In [1]:
import pandas as pd

In [8]:
#Anand Vihar data
data="Combined_AV.xlsx"
df= pd.read_excel(data)

In [9]:
df.head()

,From Date,To Date,PM2.5,PM10,NO,NO2,NOx,NH3,SO2,CO,...,Toluene,Temp,RH,WS,WD,SR,BP,AT,RF,TOT-RF
0,01-10-2020 00:00,02-10-2020 00:00,45.7,199.29,82.45,78.18,111.62,26.89,17.6,2.38,...,None,None,55.51,0.52,181.99,171.63,971.86,34.24,None,0
1,02-10-2020 00:00,03-10-2020 00:00,None,217.17,63.04,79.67,101.52,22.16,12.5,1.68,...,None,None,57.06,0.38,156.06,172.84,971.93,34.19,None,0
2,03-10-2020 00:00,04-10-2020 00:00,61.96,214.79,69.99,85.42,111.69,19.07,29.39,1.85,...,None,None,55.7,0.39,166.46,171.14,971.98,33.75,None,0
3,04-10-2020 00:00,05-10-2020 00:00,71.06,235.03,67.5,87.77,111.23,19.89,19.45,2.64,...,None,None,54.36,0.39,166.49,171.56,972.2,33.41,None,0
4,05-10-2020 00:00,06-10-2020 00:00,57.22,221.91,77.59,84.98,112.15,18.21,20.91,1.86,...,None,None,52.17,0.67,264.72,170.3,971.96,33.55,None,0

## Data Celaning and Preprocessing

In [10]:
#Since the data is by 24hours, we do not require the date for the next day (00:00)
df = df.drop('To Date', axis=1)

In [11]:
df['From Date'] = pd.to_datetime(df['From Date'], format='%d-%m-%Y %H:%M')
#Extract the date, month, and year into separate columns
df['Date'] = df['From Date'].dt.day
df['Month'] = df['From Date'].dt.month_name()
df['Year'] = df['From Date'].dt.year

In [12]:
#Drop unnecessary columns
df['From Date'] = pd.to_datetime(df['From Date'], format='%d-%m-%Y %H:%M').dt.strftime('%d-%m-%Y')
req_col=['From Date','Date','Month','Year','PM2.5','PM10','NO2','SO2','NH3','CO','Ozone']
df=df[req_col]

In [13]:
df['From Date'] = pd.to_datetime(df['From Date'], format='%d-%m-%Y')
#Create a new column 'Date Segment'
df['Date Segment'] = 'Other'
#Oct 2020 - Jan 2021
df.loc[(df['From Date'] >= '01-10-2020') & (df['From Date'] <= '31-01-2021'), 'Date Segment'] = 'Q1'
#Oct 2021 - Jan 2022
df.loc[(df['From Date'] >= '01-10-2021') & (df['From Date'] <= '31-01-2022'), 'Date Segment'] = 'Q2'
#Oct 2022 - Jan 2023
df.loc[(df['From Date'] >= '01-10-2022') & (df['From Date'] <= '31-01-2023'), 'Date Segment'] = 'Q3'

<ipython-input-13-74aac31a5328>:5: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df.loc[(df['From Date'] >= '01-10-2020') & (df['From Date'] <= '31-01-2021'), 'Date Segment'] = 'Q1'
<ipython-input-13-74aac31a5328>:7: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df.loc[(df['From Date'] >= '01-10-2021') & (df['From Date'] <= '31-01-2022'), 'Date Segment'] = 'Q2'
<ipython-input-13-74aac31a5328>:9: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df.loc[(df['From Date'] >= '01-10-2022') & (df['From Date'] <= '31-01-2023'), 'Date Segment'] = 'Q3'

In [14]:
#Lets keep the date and year as the first few columns for easy understanding
df = df[['Date Segment','Year','Date', 'Month'] + [col for col in df if col not in ['Date Segment','Date', 'Month', 'Year']]]

In [15]:
df

,Date Segment,Year,Date,Month,From Date,PM2.5,PM10,NO2,SO2,NH3,CO,Ozone
0,Q1,2020,1,October,2020-10-01,45.7,199.29,78.18,17.6,26.89,2.38,27.86
1,Q1,2020,2,October,2020-10-02,None,217.17,79.67,12.5,22.16,1.68,33.10
2,Q1,2020,3,October,2020-10-03,61.96,214.79,85.42,29.39,19.07,1.85,28.17
3,Q1,2020,4,October,2020-10-04,71.06,235.03,87.77,19.45,19.89,2.64,32.57
4,Q1,2020,5,October,2020-10-05,57.22,221.91,84.98,20.91,18.21,1.86,34.28
...,...,...,...,...,...,...,...,...,...,...,...,...
364,Q3,2023,27,January,2023-01-27,111.47,228.46,72.55,22.65,22.08,1.8,15.28
365,Q3,2023,28,January,2023-01-28,139.22,316.27,103.06,23.81,30.86,2.3,14.51
366,Q3,2023,29,January,2023-01-29,288.66,464.38,84.98,22.91,38.32,2.12,20.50
367,Q3,2023,30,January,2023-01-30,92.71,171.15,63.91,24.06,35.92,1.83,16.05
368,Q3,2023,31,January,2023-01-31,255,594,54.3,28.5,33.9,3.8,12.10

In [16]:
#Replacing 'None' with 0
df = df.replace('None', 0)

In [17]:
df.dtypes

Date Segment            object
Year                     int64
Date                     int64
Month                   object
From Date       datetime64[ns]
PM2.5                  float64
PM10                   float64
NO2                    float64
SO2                    float64
NH3                    float64
CO                     float64
Ozone                  float64
dtype: object

In [18]:
#for convinience, convert Month to 'string'
df['Month'] = df['Month'].astype('string')

In [19]:
df_AV=df
df_AV

,Date Segment,Year,Date,Month,From Date,PM2.5,PM10,NO2,SO2,NH3,CO,Ozone
0,Q1,2020,1,October,2020-10-01,45.70,199.29,78.18,17.60,26.89,2.38,27.86
1,Q1,2020,2,October,2020-10-02,0.00,217.17,79.67,12.50,22.16,1.68,33.10
2,Q1,2020,3,October,2020-10-03,61.96,214.79,85.42,29.39,19.07,1.85,28.17
3,Q1,2020,4,October,2020-10-04,71.06,235.03,87.77,19.45,19.89,2.64,32.57
4,Q1,2020,5,October,2020-10-05,57.22,221.91,84.98,20.91,18.21,1.86,34.28
...,...,...,...,...,...,...,...,...,...,...,...,...
364,Q3,2023,27,January,2023-01-27,111.47,228.46,72.55,22.65,22.08,1.80,15.28
365,Q3,2023,28,January,2023-01-28,139.22,316.27,103.06,23.81,30.86,2.30,14.51
366,Q3,2023,29,January,2023-01-29,288.66,464.38,84.98,22.91,38.32,2.12,20.50
367,Q3,2023,30,January,2023-01-30,92.71,171.15,63.91,24.06,35.92,1.83,16.05
368,Q3,2023,31,January,2023-01-31,255.00,594.00,54.30,28.50,33.90,3.80,12.10

In [22]:
#Function to perform the same cleaning on the other datasets
def cleaning_data(data):
    df=data
    df = df.drop('To Date', axis=1)
    
    df['From Date'] = pd.to_datetime(df['From Date'], format='%d-%m-%Y %H:%M')
    #Extract the date, month, and year into separate columns
    df['Date'] = df['From Date'].dt.day
    df['Month'] = df['From Date'].dt.month_name()
    df['Year'] = df['From Date'].dt.year
    
    df['From Date'] = pd.to_datetime(df['From Date'], format='%d-%m-%Y')
    #Drop unnecessary columns
    req_col=['From Date','Date','Month','Year','PM2.5','PM10','NO2','SO2','NH3','CO','Ozone']
    df=df[req_col]
    
    #Create a new column 'Date Segment'
    df['Date Segment'] = 'Other'
    #Oct 2020 - Jan 2021
    df.loc[(df['From Date'] >= '01-10-2020') & (df['From Date'] <= '31-01-2021'), 'Date Segment'] = 'Q1'
    #Oct 2021 - Jan 2022
    df.loc[(df['From Date'] >= '01-10-2021') & (df['From Date'] <= '31-01-2022'), 'Date Segment'] = 'Q2'
    #Oct 2022 - Jan 2023
    df.loc[(df['From Date'] >= '01-10-2022') & (df['From Date'] <= '31-01-2023'), 'Date Segment'] = 'Q3'
    #Lets keep the date and year as the first few columns for easy understanding
    df = df[['Date Segment','Year','Date', 'Month'] + [col for col in df if col not in ['Date Segment','Date', 'Month', 'Year']]]
    
    #Format necessary columns
    df['From Date'] = pd.to_datetime(df['From Date'], format='%d-%m-%Y %H:%M').dt.strftime('%d-%m-%Y')
    
    #Replacing 'None' with 0
    df = df.replace('None', 0)
    
    #for convinience, convert Month to 'string'
    df['Month'] = df['Month'].astype('string')
    return df

In [23]:
#Cleaning Punjabi Bagh data
df= pd.read_excel("Combined_PB.xlsx")
df_PB= cleaning_data(df)
df_PB

<ipython-input-22-165d2269aac6>:20: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df.loc[(df['From Date'] >= '01-10-2020') & (df['From Date'] <= '31-01-2021'), 'Date Segment'] = 'Q1'
<ipython-input-22-165d2269aac6>:22: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df.loc[(df['From Date'] >= '01-10-2021') & (df['From Date'] <= '31-01-2022'), 'Date Segment'] = 'Q2'
<ipython-input-22-165d2269aac6>:24: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df.loc[(df['From Date'] >= '01-10-2022') & (df['From Date'] <= '31-01-2023'), 'Date Segment'] = 'Q3'

,Date Segment,Year,Date,Month,From Date,PM2.5,PM10,NO2,SO2,NH3,CO,Ozone
0,Q1,2020,1,October,01-10-2020,56.10,181.75,54.82,20.93,23.78,1.90,32.58
1,Q1,2020,2,October,02-10-2020,77.48,205.47,45.75,18.41,26.72,1.38,41.31
2,Q1,2020,3,October,03-10-2020,72.07,183.44,56.18,13.36,25.25,1.63,39.55
3,Q1,2020,4,October,04-10-2020,75.88,205.06,60.72,20.90,24.66,1.38,43.14
4,Q1,2020,5,October,05-10-2020,64.30,204.96,56.16,14.04,24.66,1.44,38.93
...,...,...,...,...,...,...,...,...,...,...,...,...
364,Q3,2023,27,January,27-01-2023,100.46,172.17,72.18,8.79,32.49,0.48,7.21
365,Q3,2023,28,January,28-01-2023,133.06,236.84,79.17,14.28,32.24,0.69,7.40
366,Q3,2023,29,January,29-01-2023,197.84,289.70,69.38,16.23,40.14,0.83,7.70
367,Q3,2023,30,January,30-01-2023,108.94,168.63,71.89,20.67,38.94,0.92,7.50
368,Q3,2023,31,January,31-01-2023,197.00,315.00,62.90,19.10,44.00,1.80,8.20

In [24]:
#Cleaning Mundka data
df= pd.read_excel("Combined_MK.xlsx")
df_MK= cleaning_data(df)
df_MK

<ipython-input-22-165d2269aac6>:20: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df.loc[(df['From Date'] >= '01-10-2020') & (df['From Date'] <= '31-01-2021'), 'Date Segment'] = 'Q1'
<ipython-input-22-165d2269aac6>:22: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df.loc[(df['From Date'] >= '01-10-2021') & (df['From Date'] <= '31-01-2022'), 'Date Segment'] = 'Q2'
<ipython-input-22-165d2269aac6>:24: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df.loc[(df['From Date'] >= '01-10-2022') & (df['From Date'] <= '31-01-2023'), 'Date Segment'] = 'Q3'

,Date Segment,Year,Date,Month,From Date,PM2.5,PM10,NO2,SO2,NH3,CO,Ozone
0,Q1,2020,1,October,01-10-2020,72.08,308.58,28.48,10.05,20.20,0.61,24.99
1,Q1,2020,2,October,02-10-2020,84.44,236.44,14.85,13.50,30.64,0.53,33.16
2,Q1,2020,3,October,03-10-2020,95.04,303.33,19.51,14.45,32.66,0.70,22.36
3,Q1,2020,4,October,04-10-2020,87.44,243.81,18.27,13.70,30.03,0.63,50.57
4,Q1,2020,5,October,05-10-2020,80.29,324.04,19.12,9.00,32.41,0.55,50.01
...,...,...,...,...,...,...,...,...,...,...,...,...
364,Q3,2023,27,January,27-01-2023,115.32,205.58,34.06,14.64,21.37,0.57,41.59
365,Q3,2023,28,January,28-01-2023,142.52,275.70,45.54,15.95,26.10,0.77,42.85
366,Q3,2023,29,January,29-01-2023,218.86,341.05,58.98,15.86,39.74,1.61,11.20
367,Q3,2023,30,January,30-01-2023,111.55,168.80,49.22,14.98,39.62,0.92,15.73
368,Q3,2023,31,January,31-01-2023,136.00,200.00,40.50,19.20,38.70,0.90,3.80

In [25]:
#save the cleaned data
df_AV.to_excel('AV_cleaned.xlsx', index=False)
df_PB.to_excel('PB_cleaned.xlsx', index=False)
df_MK.to_excel('MK_cleaned.xlsx', index=False)

<ipython-input-25-2bb84a8c3581>:2: UserWarning: Pandas requires version '1.4.3' or newer of 'xlsxwriter' (version '1.3.8' currently installed).
  df_AV.to_excel('AV_cleaned.xlsx', index=False)
<ipython-input-25-2bb84a8c3581>:3: UserWarning: Pandas requires version '1.4.3' or newer of 'xlsxwriter' (version '1.3.8' currently installed).
  df_PB.to_excel('PB_cleaned.xlsx', index=False)
<ipython-input-25-2bb84a8c3581>:4: UserWarning: Pandas requires version '1.4.3' or newer of 'xlsxwriter' (version '1.3.8' currently installed).
  df_MK.to_excel('MK_cleaned.xlsx', index=False)